<div class="panel panel-default">
    <div class="panel-heading">
        Editar cheque
    </div>
    <div class="panel-body" style="padding:25px">
        <%= render 'form' %>
    </div>
</div>

<%= link_to 'Mostrar', @check , class: 'btn btn-default' %>
<%= link_to 'Voltar', checks_path, class: 'btn btn-default' %>
