<div class="panel panel-default">
    <div class="panel-heading">
        Editar cheque
    </div>
    <div class="panel-body" style="padding:25px">
        <%= render 'form' %>
    </div>
</div>

<%= link_to 'Show', @check %> |
<%= link_to 'Back', checks_path %>
