<div class="panel panel-default">
    <div class="panel-heading">
        Novo cheque
    </div>
    <div class="panel-body" style="padding:25px">
        <%= render 'form' %>
    </div>
</div>

<%= link_to 'Voltar', checks_path, class: 'btn btn-default' %>
